<div class="projects">
  <div class="big left" onClick="javascript:window.open('https://itunes.apple.com/us/app/gifferent/id997434439?mt=8');">
    <div class="gifferent"></div>
    <div class="tint"></div>
    <div class="title">Gifferent</div>
  </div>
  <div class="big right" onClick="javascript:window.open('http://itsbreaking.com/');">
    <div class="breaking"></div>
    <div class="tint"></div>
    <div class="title">Breaking</div>
  </div>
  <div class="featured" onClick="javascript:window.open('http://bemyeyes.org/');">
    <div class="be-my-eyes"></div>
    <div class="tint"></div>
    <div class="title">Be My Eyes</div>
  </div>
  <div class="big left" onClick="javascript:window.open('http://thermodo.com/');">
    <div class="thermodo"></div>
    <div class="tint"></div>
    <div class="title">Thermodo</div>
  </div>
  <div class="big right" onClick="javascript:window.open('https://itunes.apple.com/dk/app/lego-tv/id659284915');">
    <div class="lego-tv"></div>
    <div class="tint"></div>
    <div class="title">LEGO TV</div>
  </div>
  <div class="big left" onClick="javascript:window.open('https://itunes.apple.com/dk/app/fort-l!/id897832711');">
    <div class="fortael"></div>
    <div class="tint"></div>
    <div class="title">Fortæl!</div>
  </div>
  <div class="big right" onClick="javascript:window.open('https://itunes.apple.com/dk/app/monkeytube-b-rnenes-egen-tv/id485726401');">
    <div class="monkeytube"></div>
    <div class="tint"></div>
    <div class="title">MonkeyTube</div>
  </div>
  <div class="small left" onClick="javascript:window.open('https://itunes.apple.com/dk/app/diims/id529058443');">
    <div class="diims"></div>
    <div class="tint"></div>
    <div class="title">Diims</div>
  </div>
  <div class="small center" onClick="javascript:location.href='/apps/nibe-festival';">
    <div class="nibe-festival"></div>
    <div class="tint"></div>
    <div class="title">Nibe Festival</div>
  </div>
  <div class="small right" onClick="javascript:window.open('https://itunes.apple.com/dk/app/fupcast-fup-i-farvandet-pa/id470283676');">
    <div class="fup-i-farvandet"></div>
    <div class="tint"></div>
    <div class="title">Fup I Farvandet</div>
  </div>
</div>
