<div class="projects">
  <div class="featured" onClick="javascript:location.href='/apps/sbsanimoji';">
    <div class="sbsanimoji"></div>
    <div class="tint"></div>
  </div>
  <div class="featured" onClick="javascript:window.open('https://itunes.apple.com/app/sticky-draw-create-your-own-stickers/id1153364367');">
    <div class="sticky-draw"></div>
    <div class="tint"></div>
  </div>
  <div class="featured huge" onClick="javascript:window.open('https://www.youtube.com/watch?v=Dqm3LZeJ_kA');">
    <div class="danskfilmskat"></div>
    <div class="tint"></div>
  </div>
  <div class="featured huge" onClick="javascript:window.open('https://www.youtube.com/watch?v=xFgv7TU1LmE');">
    <div class="drtv"></div>
    <div class="tint"></div>
  </div>
  <div class="big left" onClick="javascript:window.open('https://itunes.apple.com/us/app/gifferent/id997434439?mt=8');">
    <div class="gifferent"></div>
    <div class="tint"></div>
  </div>
  <div class="big right" onClick="javascript:window.open('http://itsbreaking.com/');">
    <div class="breaking"></div>
    <div class="tint"></div>
  </div>
  <div class="featured" onClick="javascript:window.open('http://bemyeyes.org/');">
    <div class="be-my-eyes"></div>
    <div class="tint"></div>
  </div>
  <div class="big left" onClick="javascript:window.open('http://thermodo.com/');">
    <div class="thermodo"></div>
    <div class="tint"></div>
  </div>
  <div class="big right" onClick="javascript:window.open('https://itunes.apple.com/dk/app/lego-tv/id659284915');">
    <div class="lego-tv"></div>
    <div class="tint"></div>
  </div>
  <div class="big left" onClick="javascript:window.open('https://itunes.apple.com/dk/app/fort-l!/id897832711');">
    <div class="fortael"></div>
    <div class="tint"></div>
  </div>
  <div class="big right" onClick="javascript:window.open('https://itunes.apple.com/dk/app/monkeytube-b-rnenes-egen-tv/id485726401');">
    <div class="monkeytube"></div>
    <div class="tint"></div>
  </div>
  <div class="small left" onClick="javascript:window.open('https://itunes.apple.com/dk/app/diims/id529058443');">
    <div class="diims"></div>
    <div class="tint"></div>
  </div>
  <div class="small center" onClick="javascript:location.href='/apps/nibe-festival';">
    <div class="nibe-festival"></div>
    <div class="tint"></div>
  </div>
  <div class="small right" onClick="javascript:window.open('https://itunes.apple.com/dk/app/fupcast-fup-i-farvandet-pa/id470283676');">
    <div class="fup-i-farvandet"></div>
    <div class="tint"></div>
  </div>
</div>
